<div class="form-group d-flex flex-row w-100 gap-3">
  <div class="form-floating col-md-6">
    <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Nombre">
    <label for="floatingInput">Nombre</label>

    <div class="alert alert-danger mt-2 d-none" role="alert">
    </div>
  </div>

  <div class="form-floating col-md-6">
    <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Apellido">
    <label for="floatingInput">Apellido</label>

    <div class="alert alert-danger mt-2 d-none" role="alert">
    </div>
  </div>

</div>

<div class="form-group d-flex flex-row w-100 gap-3">
  <div class="form-floating col-md-6">
    <input type="text" name="dni" id="dni" class="form-control" placeholder="DNI">
    <label for="floatingInput">DNI</label>

    <div class="alert alert-danger mt-2 d-none" role="alert">
    </div>
  </div>

  <div class="form-floating col-md-6">
    <input type="number" name="age" id="age" class="form-control" placeholder="Edad">
    <label for="floatingInput">Edad</label>

    <div class="alert alert-danger mt-2 d-none" role="alert">
    </div>
  </div>
</div>


<div class="form-group d-flex flex-row w-100 gap-3">
  <div class="form-floating col-md-6 d-flex">
    <div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="male" value="M">
        <label class="form-check-label" for="male">Chico</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="female" value="F">
        <label class="form-check-label" for="female">Chica</label>
      </div>
    </div>
  </div>

  <div class="form-floating col-md-6 d-flex">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="declared" id="declared">
      <label class="form-check-label" for="declared">
        Declarado
      </label>
    </div>
  </div>
</div>

<div class="form-group d-flex flex-row w-100 gap-3">
  <div class="form-floating col-md-12">
    <textarea class="form-control" type="text" name="address" id="address" class="form-control"
      placeholder="Dirección"></textarea>
    <label for="floatingInput">Dirección</label>

    <div class="alert alert-danger mt-2 d-none" role="alert">
    </div>
  </div>
</div>


<div class="form-group d-flex flex-row w-100 gap-3">
  <div class="form-floating col-md-12">
    <input type="text" name="nationality" id="nationality" class="form-control" placeholder="Nacionalidad">
    <label for="floatingInput">Nacionalidad</label>

    <div class="alert alert-danger mt-2 d-none" role="alert">
    </div>
  </div>
</div>

<div class="form-group d-flex flex-row w-100 gap-3">
  <div class="form-floating col-md-6">
    <input type="tel" name="tel" id="tel" class="form-control" placeholder="Teléfono">
    <label for="floatingInput">Teléfono</label>

    <div class="alert alert-danger mt-2 d-none" role="alert">
    </div>
  </div>
</div>

<div class="form-group d-flex flex-row w-100 gap-3">
  <div class="form-floating col-md-6">
    <input type="text" name="grade" id="grade" class="form-control" placeholder="Grado">
    <label for="floatingInput">Grado</label>

    <div class="alert alert-danger mt-2 d-none" role="alert">
    </div>
  </div>
</div>

<div class="form-group d-flex flex-row w-100 gap-3">
  <div class="form-floating col-md-6">
    <input type="text" name="job" id="job" class="form-control" placeholder="Trabajo">
    <label for="floatingInput">Trabajo</label>

    <div class="alert alert-danger mt-2 d-none" role="alert">
    </div>
  </div>

  <div class="form-floating col-md-6">
    <input type="tel" name="jobtel" id="jobtel" class="form-control" placeholder="Teléfono del trabajo">
    <label for="floatingInput">Teléfono del trabajo</label>

    <div class="alert alert-danger mt-2 d-none" role="alert">
    </div>
  </div>

</div>